@font-face {
  font-family: 'ChenyuLuoyanThin';
  src: url('/fonts/chenyuluoyan-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.special-font {
  font-family: 'Nothing You Could Do', cursive, sans-serif;
  letter-spacing: 1px;
}